# Python virtual environments
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.wheel

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code settings
.vscode/

# PyCharm
.idea/

# Environment variables
.env
.env.*

# Misc
*.bak
*.swp
.DS_Store